@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:200");
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

body {
  background-color: #43604A;
  font-family: "Raleway", sans-serif;
  color: white; }

footer {
  text-align: center;
  background-color: #BAA080; }
  footer a {
    text-decoration: none; }
    footer a:link {
      color: white; }
    footer a:hover {
      color: gray; }
    footer a:visited {
      color: #43604A; }
    footer a:active {
      color: white; }

#main-container {
  padding-top: 2%;
  padding-bottom: 2%; }

#apresentacao {
  background-color: #BAA080;
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  #apresentacao h1 {
    text-transform: uppercase;
    font-size: 1.7em; }
  #apresentacao #hr-starlight {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 170px;
    margin: 25px auto 30px; }
  #apresentacao .skills {
    font-size: 1.25em;
    font-weight: 300; }
  #apresentacao p {
    text-align: justify; }
  #apresentacao #loc-icon, #apresentacao #gmail-icon, #apresentacao #telephone-icon {
    width: 10%;
    height: 10%; }
  #apresentacao #perfil {
    max-width: 50%;
    max-height: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%; }
  #apresentacao span {
    display: table; }

#formacao p {
  text-align: justify; }

#tecnico {
  background-color: #B7826F;
  padding-top: 2%;
  padding-bottom: 2%; }
  #tecnico h2 {
    text-align: center; }
  #tecnico i {
    font-size: 5em;
    text-align: center; }

@media screen and (max-width: 647px) {
  .col-p1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p1 {
    margin-left: 48.875%; }

  .col-p2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p2 {
    margin-left: 45.75%; }

  .col-p3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p3 {
    margin-left: 42.625%; }

  .col-p4 {
    width: 23%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p4 {
    margin-left: 39.5%; }

  .col-p5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p5 {
    margin-left: 36.375%; }

  .col-p6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p6 {
    margin-left: 33.25%; }

  .col-p7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p7 {
    margin-left: 30.125%; }

  .col-p8 {
    width: 48%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p8 {
    margin-left: 27%; }

  .col-p9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p9 {
    margin-left: 23.875%; }

  .col-p10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p10 {
    margin-left: 20.75%; }

  .col-p11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p11 {
    margin-left: 17.625%; }

  .col-p12 {
    width: 73%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p12 {
    margin-left: 14.5%; }

  .col-p13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p13 {
    margin-left: 11.375%; }

  .col-p14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p14 {
    margin-left: 8.25%; }

  .col-p15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p15 {
    margin-left: 5.125%; }

  .col-p16 {
    width: 98%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-p16 {
    margin-left: 2%; } }
@media screen and (min-width: 648px) and (max-width: 959px) {
  .col-m1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m1 {
    margin-left: 48.875%; }

  .col-m2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m2 {
    margin-left: 45.75%; }

  .col-m3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m3 {
    margin-left: 42.625%; }

  .col-m4 {
    width: 23%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m4 {
    margin-left: 39.5%; }

  .col-m5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m5 {
    margin-left: 36.375%; }

  .col-m6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m6 {
    margin-left: 33.25%; }

  .col-m7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m7 {
    margin-left: 30.125%; }

  .col-m8 {
    width: 48%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m8 {
    margin-left: 27%; }

  .col-m9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m9 {
    margin-left: 23.875%; }

  .col-m10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m10 {
    margin-left: 20.75%; }

  .col-m11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m11 {
    margin-left: 17.625%; }

  .col-m12 {
    width: 73%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m12 {
    margin-left: 14.5%; }

  .col-m13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m13 {
    margin-left: 11.375%; }

  .col-m14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m14 {
    margin-left: 8.25%; }

  .col-m15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m15 {
    margin-left: 5.125%; }

  .col-m16 {
    width: 98%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-m16 {
    margin-left: 2%; } }
@media screen and (min-width: 960px) {
  .col-l1 {
    width: 4.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l1 {
    margin-left: 48.875%; }

  .col-l2 {
    width: 10.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l2 {
    margin-left: 45.75%; }

  .col-l3 {
    width: 16.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l3 {
    margin-left: 42.625%; }

  .col-l4 {
    width: 23%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l4 {
    margin-left: 39.5%; }

  .col-l5 {
    width: 29.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l5 {
    margin-left: 36.375%; }

  .col-l6 {
    width: 35.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l6 {
    margin-left: 33.25%; }

  .col-l7 {
    width: 41.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l7 {
    margin-left: 30.125%; }

  .col-l8 {
    width: 48%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l8 {
    margin-left: 27%; }

  .col-l9 {
    width: 54.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l9 {
    margin-left: 23.875%; }

  .col-l10 {
    width: 60.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l10 {
    margin-left: 20.75%; }

  .col-l11 {
    width: 66.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l11 {
    margin-left: 17.625%; }

  .col-l12 {
    width: 73%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l12 {
    margin-left: 14.5%; }

  .col-l13 {
    width: 79.25%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l13 {
    margin-left: 11.375%; }

  .col-l14 {
    width: 85.5%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l14 {
    margin-left: 8.25%; }

  .col-l15 {
    width: 91.75%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l15 {
    margin-left: 5.125%; }

  .col-l16 {
    width: 98%;
    float: left;
    padding: 1%;
    overflow: hidden; }

  .offset-l16 {
    margin-left: 2%; } }

/*# sourceMappingURL=style.css.map */
