@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:200');

$primary-font:'Montserrat', sans-serif;
$secondary-font:'Raleway', sans-serif;
$col: 16;

$bg-color: #43604A;
$font-color: white;
$tecnico: #B7826F;
$sobre:#BAA080;
$footer: #BAA080;

h1,h2,h3,h4,h5,h6 {
    font-family: $primary-font;
}

body {
    background-color: $bg-color;
    font-family: $secondary-font;
    color: $font-color;
}

footer {
    text-align: center;
    background-color: $footer;
    a {
        text-decoration: none;
        &:link {
            color:white;
        }
        &:hover {
            color:gray; 
        }
        &:visited {
            color:#43604A;
        }
        &:active {
            color:white;
        }
    }
}

#main-container {
    padding-top: 2%;
    padding-bottom: 2%;
}

#apresentacao { // Colocar animação
    background-color: $sobre;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    

    h1 { 
        text-transform: uppercase;
        font-size: 1.7em;
    }

    #hr-starlight {
        padding: 0;
        border: none;
        border-top: solid 5px;
        text-align: center;
        max-width: 170px;
        margin: 25px auto 30px;
    }

    .skills {
        font-size: 1.25em;
        font-weight: 300;
    }

    p {
        text-align: justify;
    }

    #loc-icon, #gmail-icon, #telephone-icon {
        width: 10%;
        height: 10%;
    }

    #perfil {
        max-width: 50%;
        max-height: 50%;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); 
        border-radius: 50%;
    }

    span {
        display: table; }
}

#formacao {
    p {
        text-align:justify;
    } 
}

#tecnico { //adicionar transition
    background-color: $tecnico;
    h2 {
        text-align: center;
    }
    i {
        font-size:5em;
        text-align: center;
    }
    padding-top: 2%;
    padding-bottom: 2%;
}

@media screen and (max-width: 647px) {
    @for $i from 1 to $col + 1 {
        $width: ($i/$col * 100%) - 2;
        .col-p#{$i} {
            width: $width;
            float:left;
            padding: 1%;
            overflow: hidden;
        }

        .offset-p#{$i} {
            margin-left: (100% - ($width - 2))/2;
        }
    }
}

@media screen and (min-width:648px) and (max-width: 959px) {
    @for $i from 1 to $col + 1 {
        $width: ($i/$col * 100%) - 2;
        .col-m#{$i} {
            width: $width;
            float:left;
            padding: 1%;
            overflow: hidden;
        }

        .offset-m#{$i} {
            margin-left: (100% - ($width - 2))/2;
        }
    }
}

@media screen and (min-width: 960px) {
    @for $i from 1 to $col + 1 {
        $width: ($i/$col * 100%) - 2;
        .col-l#{$i} {
            width: $width;
            float:left;
            padding: 1%;
            overflow: hidden;
        }

        .offset-l#{$i} {
            margin-left: (100% - ($width - 2))/2;
        }
    }
}